@font-face {
  font-family: 'Stem';
  font-weight: 400;
  src: url('../../assets/fonts/Stem.otf');
}
@font-face {
  font-family: 'Stem';
  font-weight: 500;
  src: url('../../assets/fonts/Stem-Medium.otf');
}
@font-face {
  font-family: 'Stem';
  font-weight: 700;
  src: url('../../assets/fonts/Stem-Bold.otf');
}
