//Colors
$blue: #4a99fe;
$blue-lighter: #7484a8;
$blue-lighter-1: #6d7c9f;
$blue-light: #667698;
$blue-dark: #2e3c56;
$blue-darkest: #222e44;
$blue-darkest-1: #29364d;

$indigo: #3c21ad;

$green: #229d45;

$red: #f05555;

$pink: #e62154;

$black: #1d1d1d;

$grey: #53585e;
$grey-light: #d4dade;
$grey-bright: #e1eaea;

$white: #fff;

//Transition
$transition: all 0.5s ease;

//Fonts
$stem: Stem, Tahoma, Verdana, Segoe, sans-serif;
$moreno: Moreno, Tahoma, Verdana, Segoe, sans-serif;